{% load static %}

<nav class="bg-gray-900 text-white">
  <div class="max-w-7xl mx-auto px-4">
    
    <div class="flex justify-between items-center h-16">

      <!-- Logo -->
      <div class="flex items-center space-x-3">
        <img src="{% static 'images/logo.png' %}" 
             class="w-10 h-10 rounded-full object-cover border-2 border-white">
        <span class="font-bold text-lg">OnMarket</span>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden md:flex space-x-6">
        <a href="#" class="hover:text-gray-300">Home</a>
        <a href="#" class="hover:text-gray-300">Products</a>
        <a href="#" class="hover:text-gray-300">Cart</a>
        <button onclick="toggleDark()">🌙</button>
      </div>

      <!-- Mobile Button -->
      <div class="md:hidden">
        <button id="menu-btn" class="focus:outline-none">
          ☰
        </button>
      </div>

      {% if user.is_authenticated  and user.is_staff %}

  <!-- Profile + Logout -->
  <div class="flex items-center space-x-4">
    <span class="text-white">{{ user.username }}</span>

    <a href="{% url 'logout' %}" 
       class="bg-red-500 px-3 py-1 rounded hover:bg-red-600">
      Logout
    </a>

    <a href="{% url 'add_product' %}"
       class="bg-green-500 px-3 py-1 rounded text-white">
       Add Product
  </div>

{% else %}

  <a href="{% url 'login' %}" 
     class="bg-blue-500 px-4 py-2 rounded hover:bg-blue-600">
    Login
  </a>

  <a href="{% url 'register' %}"
     class="bg-gradient-to-r from-green-400 to-green-600 px-4 py-2 rounded-full text-white shadow hover:scale-105 transition">
      Register
  </a>    

{% endif %}

  

  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden md:hidden px-4 pb-4 space-y-2 bg-gray-800">
    <a href="#" class="block hover:text-gray-300">Home</a>
    <a href="#" class="block hover:text-gray-300">Products</a>
    <a href="#" class="block hover:text-gray-300">Cart</a>

    <button onclick="toggleDark()">🌙</button>
  </div>

</nav>

<script>
function toggleDark(){
    document.documentElement.classList.toggle('dark')
}
</script>